//清除标签默认样式和浏览器默认样式
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
dl,
dt,
dd {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: normal;
}
ul {
    list-style: none;
}
img {
    border-style: none;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}
/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
    font: 14px/1.5 tahoma, \5b8b\4f53, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
address,
cite,
dfn,
em,
var {
    font-style: normal;
} /* 将斜体扶正 */
code,
kbd,
pre,
samp {
    font-family: courier new, courier, monospace;
} /* 统一等宽字体 */
small {
    font-size: 12px;
} /* 小于 12px 的中文很难阅读, 让 small 正常化 */
/** 重置列表元素 **/
ul,
ol {
    list-style: none;
}
/** 重置文本格式元素 **/
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
sup {
    vertical-align: text-top;
} /* 重置, 减少对行高的影响 */
sub {
    vertical-align: text-bottom;
}
/** 重置表单元素 **/
legend {
    color: #000;
} /* for ie6 */
fieldset,
img {
    border: 0;
} /* img 搭车：让链接里的 img 无边框 */
button,
input,
select,
textarea {
    font-size: 100%;
} /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */
/** 重置表格元素 **/
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* 重置 HTML5 元素 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    display: block;
    margin: 0;
    padding: 0;
}
mark {
    background: #ff0;
}

//清除滚动条
/*webkit内核*/
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/*o内核*/
.scroll_content .-o-scrollbar {
    -moz-appearance: none !important;
    background: rgba(0, 255, 0, 0) !important;
}
.scroll_content::-o-scrollbar-button {
    background-color: rgba(0, 0, 0, 0);
}
.scroll_content::-o-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}
.scroll_content::-o-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
}
.scroll_content::-o-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
}
.scroll_content::-o-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);
}
.scroll_content::-o-scrollbar-resizer {
    background-color: rgba(0, 0, 0, 0);
}
/*IE10,IE11,IE12*/
// .scroll_content {
//     -ms-scroll-chaining: chained;
//     -ms-overflow-style: none;
//     -ms-content-zooming: zoom;
//     -ms-scroll-rails: none;
//     -ms-content-zoom-limit-min: 100%;
//     -ms-content-zoom-limit-max: 500%;
//     -ms-scroll-snap-type: proximity;
//     -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
//     // -ms-overflow-style: none;
//     overflow: auto;
// }

//清除结束

.default-bgp {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-blue {
    background-color: #4a90e2;
}
.bg-blue-op785 {
    background-color: rgba(74,144,226,.785);
}
.bg-green {
    background-color: #50e3c2;
}
.bg-orange {
    background-color: #f5a623;
}

// 盾型卡片
.main-card {
    width: 255px;
    height: 325px;
    border: 1px solid transparent; //解决子元素margin异常问题
    // background-color: #ead4cf;
    cursor: pointer;
    background-size: 100% auto;
    background-repeat: no-repeat;
    // margin: 0 82.5px;
}

//合作案例和关于我们导航卡片样式
.square-card{
    border: 1px solid transparent; //解决子元素margin异常问题
    width: 285px;
    height: 285px;
    cursor: pointer;
    .corner-icon,.corner-icon-1{
        margin: 20px 0 0 20px;
        width: 102px;
        height: 76px;
        .default-bgp
    }
    p:nth-child(2){
        color: #fff;
        margin: 85px 0 0 20px;
        font-size: 36px;
    }
    p:nth-child(3){
        color: #fff;
        margin-left: 20px;
    	font-size: 20px;
    }
//     .center-icon{
//         
//     }
    
}

//方形卡片中间背景图
.square-card-bg-1{
    background-position: center,center;
    background-repeat: no-repeat,no-repeat;
    background-image: url(../img/Rectangle.png),url(../img/Rectangle1.png);
    .corner-icon{
        background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/36823b7f-85b5-4e2b-8655-eb0564f2490e.png);
    }
    .corner-icon-1{
    	background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/ea1aa986-39dc-4e3a-a131-f39399bf4663.png);
    }
    
}

.square-card-bg-2{
    background-position: 40px,120px;
    background-repeat: no-repeat,no-repeat;
    background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/60d6e9d8-13ac-4c04-9418-76586b28ec27.png),
                      url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/9b52160c-bca3-4b02-b76d-fd0e56cbaf19.png);
    .corner-icon{
        background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/52700dde-6fbd-4673-986b-32dbc29239ed.png);
    }
    .corner-icon-1{
    	background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/72a23dee-ebd5-4719-8ffc-8108200cc298.png);
    }
}

.square-card-bg-3{
    background-position: 45px 66px,84px 48px;
    background-repeat: no-repeat,no-repeat;
    background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/7c360810-302f-4a0d-91ad-9aefb02914fd.png),
                      url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/29a6edfb-d66b-46e0-ba96-b59834e03bf3.png);
    .corner-icon{
        background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/3a1ded49-12a9-4a97-8325-71cfc737907a.png);
    }
    .corner-icon-1{
    	background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/f1d1a19f-a0e8-4f5f-a555-3843eb1c0f31.png);
    }
}

.square-card-bg-4{
    background-position: 33px 69px,129px 72px;
    background-repeat: no-repeat,no-repeat;
    background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/f0e47bce-7b6a-4ea0-bf88-e6c3ad4f9118.png),
                      url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/d90ebe8b-9df4-46a0-a0da-e205acac9cdd.png);
    .corner-icon{
        background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/2aa6f49f-8a73-43db-97a9-6d1c4202a327.png);
    }
    .corner-icon-1{
    	background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/84ad1ab6-5a4e-4fd2-8311-d7e0e0bd0efb.png);
    }
}

body,
html {
    font-family: sans-serif, PingFangSC-Regular;
    height: 100%;
    min-height: 820px;
    font-size: 14px;
}

.hidden-scroll-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: -20px;
    bottom: 0;
    overflow-y: scroll;
}

.top-wrap {
    background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/13d825b6-794c-4fda-ba27-784f6b388bbf.png);
    // background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/bef3a628-65fe-42e6-b575-ba43125e9f27.png);
    background-repeat: no-repeat;
    background-position: inherit;
    // background-size: auto 100%;
    /* height: calc(100vh - 200px); */
    min-width: 1200px;
    width: 100%;
    .nav-glass {
        width: 100%;
        background: rgba(110, 15, 133, 0.178);
    }

    .nav-wrap {
        width: 1200px;
        margin: 0 auto;
        height: 200px;
        display: flex;
        .line-center {
            display: flex;
            align-items: center;
        }
    }

    .main-wrap {
        width: 1200px;
        height: 745px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;

        .title {
            margin-top: 142px;
            p {
                text-align: center;
                height: 84px;
                font-size: 60px;
                font-weight: 500;
                color: rgba(255, 255, 255, 1);
                line-height: 84px;
                text-shadow: -3px 2px 4px rgba(0, 0, 0, 0.5);
            }
        }

        .card-wrap {
            margin-top: 68px;
            display: flex;
            justify-content: space-between;
        }
        .card-wrap.card-row-2,.card-wrap.card-row-3{
            margin-top: 142px;
        }
    }
}
.bottom-wrap {
    height: 346px;
    width: 100%;
    margin-top: -7px;
    background-color: #000;

    .footer-wrap {
        width: 1200px;
        margin: 0 auto;
        height: 289px;
        color: #fff;
        & a {
            color: #ffffff;
        }
        & > div {
            height: 240px;
            margin-top: 30px;
            vertical-align: text-bottom;
            display: inline-block;
        }
        .footer-left {
            text-align: left;
            width: 200px;
            .large-font {
                font-size: 24px;
            }
            .normal-font {
                margin-top: 23px;
                font-size: 18px;
            }
        }
        .footer-center {
            width: 785px;
            text-align: center;
            & > div {
                margin: 44px 37px 0;
                display: inline-block;
            }
            p {
                margin-bottom: 16px;
            }
            img {
                color: #000000;
                width: 138px;
                height: 138px;
            }
        }
        .footer-right {
            text-align: right;
            width: 200px;
            & > div {
                margin: 0 0 18px 0;
            }
            p {
                font-size: 18px;
            }
            .small-font {
                color: rgba(255, 255, 255, 0.415);
                font-size: 12px;
            }
        }
    }

    .center-font {
        border-top: 1px solid #fff;
        margin: 0 20px;
        height: 56px;
        line-height: 56px;
        color: #ffffff;
        font-size: 14px;
        text-align: center;
    }
}

.flex-one {
    flex: 1;
}

.logo {
    width: 341px;
    height: 64px;
}

.nav-parent {
    justify-content: flex-end;
    ul {
        li {
            float: left;
            margin: 0 31px;
            line-height: 61px;
            border-bottom: 3px solid transparent;
            a {
                cursor: pointer;
                font-size: 19px;
                color: #fff;
                text-decoration: none;
                text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
                display: block;
            }
        }
        li:hover {
            border-bottom: 3px solid white;
        }
    }
}

.hide {
    display: none;
}


.card-details {
    margin-top: 50px;
    & > div {
        float: left;
    }
    .left-details,
    .right-details {
        position: relative;
        height: 678px;
    }
    .left-details {
        // top: -137px;
        z-index: 9;
        background-color: #ffffff;
        width: 300px;
        & > div {
            // border: 1px solid black;
            margin: 0 auto;
        }
        .left-icon {
            width: 254px;
            height: 326px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        .left-QR-code {
            margin-top: 40px;
            width: 142px;
            height: 139px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        .left-note {
            width: 255px;
            height: 80px;
            text-align: center;
            p {
                font-size: 18px;
                font-weight: 400;
                color: #333333;
                margin-top: 25px;
            }
        }
    }
    .right-details {
        width: 900px;
        .content-wrap {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: ;
            width: 860px;
            height: 598px;
            background-color: #ffffff;
            overflow: hidden;
        }

        .teamwork {
            text-align: center;
            & > p {
                text-align: center;
                margin: 32px 0 35px;
                height: 42px;
                font-size: 30px;
                font-weight: 400;
                color: rgba(0, 0, 0, 1);
                line-height: 42px;
            }
            .bank-icon-wrap {
                width: 570px;
                // height: 270px;
                display: flex;
                margin: 0 auto;
                justify-content: center;
                flex-wrap: wrap;
                div {
                    margin: 0 12px 28px;
                    width: 70px;
                    height: 70px;
                    .default-bgp;
                }
            }

            .merchant-icon-wrap {
                // width: 570px;
                // height: 270px;
                display: flex;
                margin: 0 auto;
                justify-content: center;
                flex-wrap: wrap;
                div {
                    margin: 0 12px 19px;
                    width: 130px;
                    height: 120px;
                    .default-bgp;
                }
            }
        }

        .flex-note-parent {
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: center;
            .note-item {
                width: 500px;
                margin: 15px 0 15px 120px;
                span:nth-child(1) {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    background-color: #4a90e2;
                    border-radius: 15px;
                }
                span:nth-child(2) {
                    margin-left: 45px;
                    font-size: 30px;
                    color: #333333;
                    line-height: 42px;
                    text-align: left;
                    font-weight: 400;
                    vertical-align: text-bottom;
                }
            }
        }

        .dc-wrap {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            .dc-item {
                margin: 20px 12px 10px 12px;

                p {
                    color: #333333;
                    margin-top: 15px;
                    font-weight: 400;
                    font-size: 24px;
                    text-align: center;
                }

                div {
                    width: 187px;
                    height: 200px;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .dc-card-1-1 {
                    background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/91297c75-fdb3-4b11-9145-ee179c20e466.png);
                }
                .dc-card-1-2 {
                    background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/6908dad7-d465-4106-b1e3-7f68c34b2cc3.png);
                }
                .dc-card-1-3 {
                    background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/ee054147-2ff6-41c1-9b93-4bef279abcff.png);
                }
                .dc-card-1-4 {
                    background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/4dcf0181-b4f6-4bb9-9bb5-5a99a343402e.png);
                }

                .dc-card-2-1 {
                    background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/dec326fa-a2f3-49b0-b830-fe03d53a8c95.png);
                }
                .dc-card-2-2 {
                    background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/828618ce-05e9-478b-bfc2-fdc025481370.png);
                }
                .dc-card-2-3 {
                    background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/908e67af-ce85-40bd-b0b1-f4d1e9568bbb.png);
                }
                .dc-card-2-4 {
                    background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/5c8647f3-f0c2-4309-be5e-904b7772b08e.png);
                }
            }
        }
    }
    
    .left-width-1{
        width: 287px;
    }
    .right-width-1{
    	width: 913px;
    }
    
}

.card-1-1 {
    background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/f909d08a-0555-44ef-9af3-86784266c1eb.png);
}

.card-1-2 {
    background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/a995281a-c0af-472f-8db1-39176114cced.png);
}

.card-1-3 {
    background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/01dc33eb-d55a-4c96-b80a-a302dd7cdec7.png);
}

.QR-code-1-1 {
    background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/f1faf1aa-d7cb-47db-8a51-5feb6c444d74.png);
}

.animation-card {
    -webkit-transition: box-shadow 0.7s, opacity 0.7s;
    transition: box-shadow 0.7s, opacity 0.7s;
    -webkit-animation: card-fadeInUp 0.5s ease-out 0s 1 normal,
        card-float 5s ease-in-out 0.5s infinite normal;
    animation: card-fadeInUp 0.5s ease-out 0s 1 normal,
        card-float 5s ease-in-out 0.5s infinite normal;
}

.animation-card:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    // box-shadow: 0 0 15px #fff;
    opacity: 1;
}

.animation-fadeInDown {
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: c-fx-fadeInScaleDown 0.3s ease-out 0s 1 normal;
    animation: c-fx-fadeInScaleDown 0.3s ease-out 0s 1 normal;
}

.animation-fadeInLeft {
    -webkit-animation: c-fx-fadeInRight 0.3s ease 0.2s 1 normal;
    animation: c-fx-fadeInRight 0.3s ease 0.2s 1 normal;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

@keyframes c-fx-fadeInScaleDown {
    0% {
        opacity: 0;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes c-fx-fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-5%, 0, 0);
        transform: translate3d(-5%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes card-fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 40%, 0);
        transform: translate3d(0, 40%, 0);
    }

    100% {
        opacity: 0.93;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes card-float {
    1% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    50% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
