body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
dl,
dt,
dd {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-weight: normal;
}
ul {
  list-style: none;
}
img {
  border-style: none;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
/** 设置默认字体 **/
body,
button,
input,
select,
textarea {
  font: 14px/1.5 tahoma, \5b8b\4f53, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* 将斜体扶正 */
code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}
/* 统一等宽字体 */
small {
  font-size: 12px;
}
/* 小于 12px 的中文很难阅读, 让 small 正常化 */
/** 重置列表元素 **/
ul,
ol {
  list-style: none;
}
/** 重置文本格式元素 **/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
/* 重置, 减少对行高的影响 */
sub {
  vertical-align: text-bottom;
}
/** 重置表单元素 **/
legend {
  color: #000;
}
/* for ie6 */
fieldset,
img {
  border: 0;
}
/* img 搭车：让链接里的 img 无边框 */
button,
input,
select,
textarea {
  font-size: 100%;
}
/* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */
/** 重置表格元素 **/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 重置 HTML5 元素 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  display: block;
  margin: 0;
  padding: 0;
}
mark {
  background: #ff0;
}
/*webkit内核*/
::-webkit-scrollbar {
  width: 0px;
  height: 3px;
  background-color: #C0C0C0;
}
/*o内核*/
.scroll_content .-o-scrollbar {
  -moz-appearance: none !important;
  background: rgba(0, 255, 0, 0) !important;
}
.scroll_content::-o-scrollbar-button {
  background-color: rgba(0, 0, 0, 0);
}
.scroll_content::-o-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.scroll_content::-o-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
}
.scroll_content::-o-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}
.scroll_content::-o-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}
.scroll_content::-o-scrollbar-resizer {
  background-color: rgba(0, 0, 0, 0);
}
/*IE10,IE11,IE12*/
#allmap {
  height: 100%;
}
.default-bgp {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.bg-blue {
  background-color: #4a90e2;
}
.bg-blue-op785 {
  background-color: rgba(74, 144, 226, 0.785);
}
.bg-green {
  background-color: #50e3c2;
}
.bg-green-op785 {
  background-color: rgba(80, 227, 194, 0.785);
}
.bg-orange {
  background-color: #f5a623;
}
.main-card {
  width: 255px;
  height: 325px;
  border: 1px solid transparent;
  cursor: pointer;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.square-card {
  border: 1px solid transparent;
  width: 285px;
  height: 285px;
  cursor: pointer;
}
.square-card .corner-icon,
.square-card .corner-icon-1 {
  margin: 20px 0 0 20px;
  width: 102px;
  height: 76px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.square-card p:nth-child(2) {
  color: #fff;
  margin: 85px 0 0 20px;
  font-size: 36px;
}
.square-card p:nth-child(3) {
  color: #fff;
  margin-left: 20px;
  font-size: 20px;
}
.square-card-bg-1 {
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-image: url(../img/Rectangle.png), url(../img/Rectangle1.png);
}
.square-card-bg-1 .corner-icon {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/36823b7f-85b5-4e2b-8655-eb0564f2490e.png);
}
.square-card-bg-1 .corner-icon-1 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/ea1aa986-39dc-4e3a-a131-f39399bf4663.png);
}
.square-card-bg-2 {
  background-position: 40px, 120px;
  background-repeat: no-repeat, no-repeat;
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/60d6e9d8-13ac-4c04-9418-76586b28ec27.png), url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/9b52160c-bca3-4b02-b76d-fd0e56cbaf19.png);
}
.square-card-bg-2 .corner-icon {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/52700dde-6fbd-4673-986b-32dbc29239ed.png);
}
.square-card-bg-2 .corner-icon-1 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/72a23dee-ebd5-4719-8ffc-8108200cc298.png);
}
.square-card-bg-3 {
  background-position: 45px 66px, 84px 48px;
  background-repeat: no-repeat, no-repeat;
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/7c360810-302f-4a0d-91ad-9aefb02914fd.png), url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/29a6edfb-d66b-46e0-ba96-b59834e03bf3.png);
}
.square-card-bg-3 .corner-icon {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/3a1ded49-12a9-4a97-8325-71cfc737907a.png);
}
.square-card-bg-3 .corner-icon-1 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/f1d1a19f-a0e8-4f5f-a555-3843eb1c0f31.png);
}
.square-card-bg-4 {
  background-position: 33px 69px, 129px 72px;
  background-repeat: no-repeat, no-repeat;
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/f0e47bce-7b6a-4ea0-bf88-e6c3ad4f9118.png), url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/d90ebe8b-9df4-46a0-a0da-e205acac9cdd.png);
}
.square-card-bg-4 .corner-icon {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/2aa6f49f-8a73-43db-97a9-6d1c4202a327.png);
}
.square-card-bg-4 .corner-icon-1 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/84ad1ab6-5a4e-4fd2-8311-d7e0e0bd0efb.png);
}
body,
html {
  font-family: sans-serif, PingFangSC-Regular;
  height: 100%;
  min-height: 820px;
  font-size: 14px;
}
.hidden-scroll-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: -20px;
  bottom: 0;
  overflow-y: scroll;
}
.top-wrap {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/13d825b6-794c-4fda-ba27-784f6b388bbf.png);
  background-repeat: no-repeat;
  background-position: inherit;
  /* height: calc(100vh - 200px); */
  min-width: 1200px;
  width: 100%;
}
.top-wrap .nav-glass {
  width: 100%;
  background: rgba(110, 15, 133, 0.178);
}
.top-wrap .nav-wrap {
  width: 1200px;
  margin: 0 auto;
  height: 200px;
  display: flex;
}
.top-wrap .nav-wrap .line-center {
  display: flex;
  align-items: center;
}
.top-wrap .main-wrap {
  width: 1200px;
  height: 885px;
  border: 1px solid transparent;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.top-wrap .main-wrap .title {
  margin-top: 142px;
}
.top-wrap .main-wrap .title p {
  text-align: center;
  height: 84px;
  font-size: 60px;
  font-weight: 500;
  color: #ffffff;
  line-height: 84px;
  text-shadow: -3px 2px 4px rgba(0, 0, 0, 0.5);
}
.top-wrap .main-wrap .card-wrap {
  margin-top: 68px;
  display: flex;
  justify-content: space-between;
}
.top-wrap .main-wrap .card-wrap div:first-child {
  -webkit-animation-delay: -0.3s, 0.2s;
  animation-delay: -0.3s, 0.2s;
  -webkit-animation-duration: 0.5s, 5s;
  animation-duration: 0.5s, 5s;
}
.top-wrap .main-wrap .card-wrap div:nth-child(2) {
  -webkit-animation-delay: -0.2s, 0.3s;
  animation-delay: -0.2s, 0.3s;
  -webkit-animation-duration: 0.5s, 4s;
  animation-duration: 0.5s, 4s;
}
.top-wrap .main-wrap .card-wrap div:nth-child(3) {
  -webkit-animation-delay: -0.1s, 0.4s;
  animation-delay: -0.1s, 0.4s;
  -webkit-animation-duration: 0.5s, 4.5s;
  animation-duration: 0.5s, 4.5s;
}
.top-wrap .main-wrap .card-wrap div:nth-child(4) {
  -webkit-animation-delay: 0s, 0.5s;
  animation-delay: 0s, 0.5s;
  -webkit-animation-duration: 0.5s, 5.5s;
  animation-duration: 0.5s, 5.5s;
}
.top-wrap .main-wrap .card-wrap.card-row-2,
.top-wrap .main-wrap .card-wrap.card-row-3 {
  margin-top: 142px;
}
.bottom-wrap {
  height: 346px;
  width: 100%;
  min-width: 1200px;
  margin-top: -7px;
  background-color: #000;
}
.bottom-wrap .footer-wrap {
  width: 1200px;
  margin: 0 auto;
  height: 289px;
  color: #fff;
}
.bottom-wrap .footer-wrap a {
  color: #ffffff;
}
.bottom-wrap .footer-wrap > div {
  height: 240px;
  margin-top: 30px;
  vertical-align: text-bottom;
  display: inline-block;
}
.bottom-wrap .footer-wrap .footer-left {
  text-align: left;
  width: 200px;
}
.bottom-wrap .footer-wrap .footer-left .large-font {
  font-size: 24px;
}
.bottom-wrap .footer-wrap .footer-left .normal-font {
  margin-top: 23px;
  font-size: 18px;
}
.bottom-wrap .footer-wrap .footer-center {
  width: 785px;
  text-align: center;
}
.bottom-wrap .footer-wrap .footer-center > div {
  margin: 44px 37px 0;
  display: inline-block;
}
.bottom-wrap .footer-wrap .footer-center p {
  margin-bottom: 16px;
}
.bottom-wrap .footer-wrap .footer-center img {
  color: #000000;
  width: 138px;
  height: 138px;
}
.bottom-wrap .footer-wrap .footer-right {
  text-align: right;
  width: 200px;
}
.bottom-wrap .footer-wrap .footer-right > div {
  margin: 0 0 18px 0;
}
.bottom-wrap .footer-wrap .footer-right p {
  font-size: 18px;
}
.bottom-wrap .footer-wrap .footer-right .small-font {
  color: rgba(255, 255, 255, 0.415);
  font-size: 12px;
}
.bottom-wrap .center-font {
  border-top: 1px solid #fff;
  margin: 0 20px;
  height: 56px;
  line-height: 56px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
.flex-one {
  flex: 1;
}
.logo {
  width: 341px;
  height: 64px;
}
.nav-parent {
  justify-content: flex-end;
}
.nav-parent ul li {
  float: left;
  margin: 0 31px;
  line-height: 61px;
  border-bottom: 3px solid transparent;
}
.nav-parent ul li a {
  cursor: pointer;
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  display: block;
}
.nav-parent ul li:hover {
  border-bottom: 3px solid white;
}
.hide {
  display: none;
}
.list-1 .content-title {
  font-size: 30px;
  line-height: 42px;
  height: 42px;
  text-align: center;
  margin: 39px 0 49px;
}
.list-1 .content-title-long {
  font-size: 24px;
  margin: 24px 22px 37px;
}
.list-1 .flex-row-wrap {
  display: flex;
  justify-content: space-around;
}
.list-1 .flex-row-wrap .item-border {
  border: 2px solid #50e3c2;
}
.list-1 .flex-row-wrap .item {
  width: 179px;
  height: 429px;
  text-align: center;
}
.list-1 .flex-row-wrap .item > p {
  margin-top: 19px;
  font-size: 36px;
  color: #50e3c2;
  line-height: 50px;
}
.list-1 .flex-row-wrap .item > div {
  margin: 107px auto 0px;
  height: 99px;
  width: 144px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list-1 .flex-row-wrap .item > div p {
  font-size: 24px;
}
.list-1 .flex-row-wrap .bg-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 422px;
}
.list-1 .flex-row-wrap .bg-item:nth-child(1) {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/06/e312f072-b61d-4754-8aac-4e24d36d11e2.png);
}
.list-1 .flex-row-wrap .bg-item:nth-child(2) {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/06/fcc56b68-401e-4740-8daf-380215ffc254.png);
}
.list-1 .flex-row-wrap .bg-item:nth-child(3) {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/06/6dc66bd7-a333-47cc-9d42-3b3630bfe04b.png);
}
.list-1 .flex-row-wrap .bg-item:nth-child(4) {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/06/7e5d6afb-5c3c-4761-8571-82a6be690538.png);
}
.card-details {
  margin-top: 50px;
}
.card-details > div {
  float: left;
}
.card-details .left-details,
.card-details .right-details {
  position: relative;
  height: 678px;
}
.card-details .left-details {
  z-index: 9;
  background-color: #ffffff;
  width: 300px;
}
.card-details .left-details > div {
  margin: 0 auto;
}
.card-details .left-details .left-icon {
  width: 254px;
  height: 326px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card-details .left-details .left-QR-code {
  margin-top: 40px;
  width: 142px;
  height: 139px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card-details .left-details .left-note {
  width: 255px;
  height: 80px;
  text-align: center;
}
.card-details .left-details .left-note p {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  margin-top: 25px;
}
.card-details .right-details {
  width: 900px;
}
.card-details .right-details .content-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: ;
  width: 860px;
  height: 598px;
  border: 1px solid #fff;
  background-color: #ffffff;
  overflow: hidden;
}
.card-details .right-details .contact-us {
  padding: 20px 25px 26px;
  width: 820px;
  height: 558px;
}
.card-details .right-details .contact-us .address-top {
  display: flex;
}
.card-details .right-details .contact-us .address-top .address-msg {
  flex-basis: 463px;
}
.card-details .right-details .contact-us .address-top .address-msg p {
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  line-height: 32px;
}
.card-details .right-details .contact-us .address-top .address-qrcode {
  flex: 1;
  text-align: right;
}
.card-details .right-details .contact-us .address-top .address-qrcode img {
  width: 99px;
  height: 99px;
}
.card-details .right-details .contact-us .address-top .address-qrcode p {
  height: 25px;
  font-size: 18px;
  font-weight: 300;
  color: #999999;
  line-height: 25px;
}
.card-details .right-details .contact-us .address-bottom {
  margin-top: 20px;
  height: 393px;
}
.card-details .right-details .teamwork {
  text-align: center;
}
.card-details .right-details .teamwork > p {
  text-align: center;
  margin: 32px 0 35px;
  height: 42px;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  line-height: 42px;
}
.card-details .right-details .teamwork .bank-icon-wrap {
  width: 570px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}
.card-details .right-details .teamwork .bank-icon-wrap div {
  margin: 0 12px 28px;
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.card-details .right-details .teamwork .merchant-icon-wrap {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}
.card-details .right-details .teamwork .merchant-icon-wrap div {
  margin: 0 12px 19px;
  width: 130px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.card-details .right-details .flex-note-parent {
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-details .right-details .flex-note-parent .note-item {
  width: 500px;
  margin: 15px 0 15px 120px;
}
.card-details .right-details .flex-note-parent .note-item span:nth-child(1) {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #4a90e2;
  border-radius: 15px;
}
.card-details .right-details .flex-note-parent .note-item span:nth-child(2) {
  margin-left: 45px;
  font-size: 30px;
  color: #333333;
  line-height: 42px;
  text-align: left;
  font-weight: 400;
  vertical-align: text-bottom;
}
.card-details .right-details .flex-note-parent .about-item {
  margin: 23px 0;
  display: flex;
}
.card-details .right-details .flex-note-parent .about-item div:nth-child(1) {
  margin: 13px 42px;
}
.card-details .right-details .flex-note-parent .about-item div:nth-child(2) {
  font-size: 24px;
  font-weight: 300;
  color: #333333;
  line-height: 32px;
  text-align: left;
  flex: 1;
  margin-right: 30px;
}
.card-details .right-details .dc-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-details .right-details .dc-wrap .dc-item {
  margin: 20px 6px 10px 6px;
}
.card-details .right-details .dc-wrap .dc-item p {
  color: #333333;
  margin-top: 15px;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.card-details .right-details .dc-wrap .dc-item div {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card-details .right-details .dc-wrap .dc-item .dc-card-1-1 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/91297c75-fdb3-4b11-9145-ee179c20e466.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-1-2 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/6908dad7-d465-4106-b1e3-7f68c34b2cc3.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-1-3 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/ee054147-2ff6-41c1-9b93-4bef279abcff.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-1-4 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/4dcf0181-b4f6-4bb9-9bb5-5a99a343402e.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-2-1 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/dec326fa-a2f3-49b0-b830-fe03d53a8c95.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-2-2 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/828618ce-05e9-478b-bfc2-fdc025481370.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-2-3 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/908e67af-ce85-40bd-b0b1-f4d1e9568bbb.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-2-4 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/5c8647f3-f0c2-4309-be5e-904b7772b08e.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-car-1-1 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/87f6ddc9-3041-42ba-b280-edcc6e624201.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-car-1-2 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/6f541fab-6fe0-4d22-b4c3-84e40227c2f4.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-car-1-3 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/c031b960-29cd-40b4-a489-fbd419f2b8ed.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-luxury-1-1 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/51ca334b-5fed-46f2-b2d0-3110dbd62219.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-luxury-1-2 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/5525c214-d084-47e2-bee3-7ec14cf21856.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-luxury-1-3 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/91459e5a-da02-438d-b4b3-2e7d4cec8879.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-luxury-1-4 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/bd4ff42e-9247-40ba-bbee-4dcc4a4432da.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-luxury-2-1 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/c34532db-59fc-44ea-b3bd-da8bb750cd02.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-luxury-2-2 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/f040fbd3-a822-4343-b5ec-b8d6a73ad136.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-luxury-2-3 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/4b587577-7910-4d5d-8ef7-8e1c081de8db.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-luxury-2-4 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/c3ccf17b-fb52-4165-8de6-a3145b5c299e.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-foods-1-1 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/45c61e98-f6f0-4526-b9f4-c295eba82fe0.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-foods-1-2 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/f5489470-6732-4c5f-8d32-c1f84671743c.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-foods-1-3 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/dbd91644-9fb8-44d3-9634-0f3f0edbf8c0.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-foods-1-4 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/03b2f8ff-a438-4667-819c-b45140fd2bcb.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-foods-2-1 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/a440b1ac-cdda-4eda-b4a8-a55eca403f0b.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-foods-2-2 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/e2587a8d-7ea0-477b-bfa2-c69c157c6590.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-foods-2-3 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/00799bc0-2518-480d-9bf7-3fa6adeb72c8.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-foods-2-4 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/b34ff4a1-cba9-47c3-8c19-d2b39f613aa2.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-life-1-1 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/040c4a1a-aa32-4621-a2be-352c4c70d52e.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-life-1-2 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/6d8e829b-0fbb-486a-b77c-6422845721c2.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-life-1-3 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/b62deb60-9757-41c0-8320-f765735b5ebf.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-life-1-4 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/f6a5433b-e214-4676-9d7a-b2b7c1b6c38e.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-life-2-1 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/666cdfc1-7aaf-4e2d-a0f1-f3a096b94dd1.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-life-2-2 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/f623af3c-6422-47a5-b022-5e0eb52fab06.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-life-2-3 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/6081cca3-311b-48d0-bb0e-3f3352d4136c.png);
}
.card-details .right-details .dc-wrap .dc-item .dc-card-life-2-4 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/f4d78b1a-b617-406d-9a29-02b819ded8ab.png);
}
.card-details .left-width-1 {
  width: 287px;
}
.card-details .right-width-1 {
  width: 913px;
}
.card-1-1 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/f909d08a-0555-44ef-9af3-86784266c1eb.png);
}
.card-1-2 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/a995281a-c0af-472f-8db1-39176114cced.png);
}
.card-1-3 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/04/01dc33eb-d55a-4c96-b80a-a302dd7cdec7.png);
}
.QR-code-1-1 {
  background-image: url(https://sr-img.oss-cn-beijing.aliyuncs.com/OSS/2018/12/05/34068e2d-a809-4f59-a526-193304e7fb3f.png);
}
.animation-card {
  -webkit-transition: box-shadow 0.7s, opacity 0.7s;
  transition: box-shadow 0.7s, opacity 0.7s;
  -webkit-animation: card-fadeInUp 0.5s ease-out 0s 1 normal, card-float 5s ease-in-out 0.5s infinite normal;
  animation: card-fadeInUp 0.5s ease-out 0s 1 normal, card-float 5s ease-in-out 0.5s infinite normal;
}
.animation-card:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 1;
}
.animation-fadeInDown {
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: c-fx-fadeInScaleDown 0.3s ease-out 0s 1 normal;
  animation: c-fx-fadeInScaleDown 0.3s ease-out 0s 1 normal;
}
.animation-fadeInLeft {
  -webkit-animation: c-fx-fadeInRight 0.3s ease 0.2s 1 normal;
  animation: c-fx-fadeInRight 0.3s ease 0.2s 1 normal;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
@keyframes c-fx-fadeInScaleDown {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes c-fx-fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes card-fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }
  100% {
    opacity: 0.93;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes card-float {
  1% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  50% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.little-star {
  margin: 60px 0;
  position: relative;
  display: block;
  color: #50e3c2;
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 14px solid #50e3c2;
  border-left: 20px solid transparent;
  -moz-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
}
.little-star:before {
  border-right: 7px solid transparent;
  border-bottom: 17px solid #50e3c2;
  border-left: 7px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -10px;
  left: -16px;
  display: block;
  content: '';
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
}
.little-star:after {
  position: absolute;
  display: block;
  color: #50e3c2;
  top: 3px;
  left: -24px;
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 14px solid #50e3c2;
  border-left: 20px solid transparent;
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  content: '';
}
